.rightbarContest {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
    
  }
  
  .rightbarCoverImgContainer {
    margin-right: 10px;
    position: relative;
  }
  
  .rightbarCoverImg {
    width: 100px;
    height: 100%;
    border-radius: 10%;
    object-fit: cover;
  }
  .rightbarDetailContainer{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .rightbarTitle{
    display: block;
    height: 50%;
  }

  .righbarDate{
      font-size: 10px;
      font-weight: 200;
      align-items: center;
  }